<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Node.js Upload Files with Progress Bar</title>
</head>
<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
<style>
    body {background-color: #75D0F1;}
</style>
<body>
    <h1 id="csrf_token" hidden>{{ csrf_token }}</h1>
    <h1>Check The Progress of Uploaded Files</h1>   
    <h1 id="text1"></h1>
    <div>
        <input type="button" class="btn chooseFiles" value="Select files to upload"/>
        <input type="button" class="btn submit" value="submit"/>
        <div class="progressUpload"></div>
    </div>
    <script src="{% static 'bar.js' %}">// TODO make this work, and make html use this statusbar

        
        </script>
</body>
  
</html>